body {
  margin: 0;
  font-family: 'Candara';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  hyphens:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
